body {
	/*font-family: 'Hind Vadodara', sans-serif;*/
  font-family: 'Galdeano', serif;
  background: url('./sky.jpg') no-repeat;
  background-size: cover;
}

.jumbotron-fluid {
  background: inherit;
  color: #F0F0F0;
}

.nav-wrapper {
	border-bottom:none !important;
}

nav {
  background: inherit;
	border-bottom: none;
}

ul {
	margin: 2em;
}

.left {
	margin-left: 1em;
	font-size: 16px;
}

li {
	margin: 1.25em;
	letter-spacing: .005em;
}

i {
	margin: .5em;
}

nav ul li {
	font-size: 1.10rem;
  font-weight: bold;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: none;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #F0F0F0;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center:hover {
	cursor:pointer;
}

nav a i.material-icons {
	font-size: 2.15rem;
}


.navBar:hover {
  text-decoration: none;
  color: #F0F0F0;
  box-shadow: none;
}

.jumbotron {
  color: #F0F0F0;
  text-align: center;
}

h4 {
  margin-top: 2em;
}

.btn-large {
  border-radius: 8px;
  background-color:#FF5A5F;
  margin-top: 2em;
}

.btn-large:hover {
  background-color: black;
}

