body {
  font-family: 'Asar', serif;
}

.jumbotron-fluid {
  /*background: url('./field.jpg') no-repeat; */
  /*background: url('./net.jpg') no-repeat center;*/ 
  background: url('./football.jpg') no-repeat center;
  /*background: url('./city.jpg') no-repeat center;*/
  background-size: cover;
  color: #F0F0F0;
}

.nav-wrapper {
	border-bottom:none !important;
  margin: 0 auto;
  padding-top: 1em;
}

nav {
  background: transparent;
	border-bottom: none;
  align-items: left;
}

ul {
	margin: 2em;
}

.left {
	margin-left: 1em;
	font-size: 16px;
}

li {
	margin: 1.25em;
	letter-spacing: .005em;
}

i {
	margin: .5em;
}

nav ul li {
	font-size: 1.15rem;
  font-weight: bold;
}

li:hover {
  box-shadow: none;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: none;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #F0F0F0;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center:hover {
	cursor:pointer;
}


nav a i.material-icons {
	font-size: 2.15rem;
  margin-top: 0.5em;
}

.navBar:hover {
  text-decoration: none;
  color: #F0F0F0;
  background-color: transparent;
}

.jumbotron {
  color: #F0F0F0;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1em;
}

nav .brand-logo {
  position: relative;
}

h4 {
  margin-top: 5em;
  font-weight: bolder;
}

.lead {
  font-size: 22px;
  margin-top: 1.5em;
  font-weight: bold;
  text-shadow: 0.75px 0.75px black;
}

.second {
  font-size: 20px;
  margin-top: -0.5em;
  text-shadow: 0.75px 0.75px black;
}

.btn-large {
  border-radius: 8px;
  background-color:#D80000;
  margin-top: 3em;
}

.btn-large:hover {
  background-color: #1a1e23;
  color: white;
  box-shadow: 5px;
  text-decoration: none;
}

.no-shadow:hover {
  box-shadow: none;
}

.col-12 {
  margin-top: 10em;
  margin-bottom: 3em;
}

.col-12 a i.material-icons {
  font-size: 3.5rem;
  animation-duration: 1.25s;
  animation-iteration-count: 5;
}

/*************************************/
/*          Login & Sign Up          */
/*************************************/
.modal {
  background-color: white;
  position: fixed;
  max-height: 100%;
  width: 100%;
}

.modal-content {
  border: none;
  margin-top: 6em;
}

h3 {
  text-align: center;
}

.grey-text {
  text-align: center;
}

form {
  margin-top: 2em;
}

.exit {
  margin-bottom: 2em;
}

.btn-flat i {
  line-height: 0.15;
  margin-top: 1em;
  font-size: 1.25rem;
  text-align: center;
}

i.material-icons {
  margin-top: 1em;
}

.log {
  color: #FF5A5F;
}

.log:hover {
  text-decoration: none;
  color: black;
}

.login {
  margin-top: 10em;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.google {
  margin-top: 2em;
}

/*************************************/
/*            Statistics             */
/*************************************/
.stats {
  background: #F0F0F0;
  padding-top: 4em;
  padding-bottom: 6em;
  margin-bottom: 6em;
  /*border-bottom-left-radius: 90% 12%;
  border-bottom-right-radius: 90% 12%;*/
}

.row-stats {
  width: 100%;
  margin-top: 10em;
  display: flex;
  justify-content: center;
}

.basketball {
  justify-content: flex-start;
}

.soccer {
  justify-content: flex-end;
}

.baseball {
  justify-content: flex-start;
}

.col-stats {
  display: flex;
  justify-content: center;
}

.card-img-top {
  width:100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shadow {
  box-shadow: 0 0 1rem rgba(0,0,0,0.15);
  height: 46rem;
  border-radius: 0.5rem;
  width: 25rem;
}

.shadow:hover {
  cursor: pointer;
}

.stat-header {
  margin-left: 6rem;
  /*color: black;*/
  color: #404040;
  font-size: 30px;
  margin-top: 8rem;
  letter-spacing: 0.15rem;
  text-align: left;
}

.stat-body {
  color: #707070;
  text-align: left;
  margin-left: 6rem;
  line-height: 1.65em;
  font-size: 18px;
}

.soccer-card {
  margin-left: 6rem;
}

.basketball-tag {
  color: #4d94ff;
  font-weight: bolder;
}

.soccer-tag {
  color: green;
  font-weight: bolder;
}

.baseball-tag {
  color: #A80000;
  font-weight: bolder;
}

.title {
  text-align: left;
  line-height: 1.65em;
  font-size: 24px;
  color: black;
}

.text, .body {
  text-align: left;
  line-height: 1.65em;
  font-size: 18px;
  color: #404040;
}

.soccer, .basketball, .baseball {
  animation-duration: 2s;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icofont-check-circled {
  font-size: 1.5rem;
  display: block;
  margin-top: 1.5em;
}

.col-check {
  margin-left: 4.5em;
  margin-top: 3em;
}

.basketball-check {
  color: #4d94ff;
}

.baseball-check {
  color: #A80000;
}

.soccer-check {
  color: green;
}

.form-label-group {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.form-control {
  font-family: 'Asar', serif;
}

.form-control-basketball:focus {
  border-color: #4d94ff !important;
}

.form-control-soccer:focus {
  border-color: green !important;
}

.form-control-baseball:focus {
  border-color: red !important;
}

.btn-coach {
  background-color: #4d94ff;
}

.btn-host {
  background-color: green;
}

.btn-team {
  background-color: #A80000;
}

.btn-coach, .btn-host, .btn-team {
  padding-left: 5em;
  padding-right: 5em;
  color: white;
  margin-left: 2.25em;
}

/*************************************/
/*              About                */
/*************************************/
.about {
  background: white;
  padding-top: 1em;
  padding-bottom: 6em;
  margin-bottom: 6em;
}

.about-row {
  margin-top: 0em;
}

.about-title {
  color: #e83422;
}

.card-about {
  border: none;
  box-shadow: none;
  margin-top: 8em;
  margin-left: 8em;
  margin-right: 8em;
  padding-right: 2em;
  padding-left: 2em;
}

.card-title {
  margin-top: 0;
  margin-bottom: 1em;
}

.icofont-field, .icofont-team, .icofont-kick, .icofont-company, .icofont-offside, .icofont-email {
  color: #e83422;
  box-shadow: 2px black;
}

.card .card-body .card-text {
  font-size: 16px;
}

.bold {
  font-weight: bolder;
}


/*************************************/
/*              Footer               */
/*************************************/
footer {
  /*background-color: #1c1c1c;*/
  background-color: #A80000;
}

h3 {
  margin-top: 3em;
}

.subscribe {
  margin-bottom: 6em;
  margin-left: 2em;
}

.subscribe-btn {
  background-color: #fff;
  color: black;
  border-radius: 10rem;
  font-size: 1.15rem;
  text-transform: none;
  height: 60px;
  width: 85%;
  font-weight: lighter;
}

.subscribe-btn:hover {
  background-color: #dddddd;
}

#exampleInputEmail1 {
  background: white;
  border-radius: 10rem;
  padding-left: 2rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  border: none;
  font-family: inherit;
  font-size: 1.15rem;
  color: black;
}

#exampleInputEmail1:focus {
  background: #dddddd;
  color: black;
}

.subscribe-row {
  padding-bottom: 2em;
}

.information {
  background: inherit;
  border-top: 1px solid white;
  width: 100%;
}

.footer-li {
  display: inline-block;
  color: white;
}

.info {
  margin-right: 2em;
  margin-left: 2em;
}

.info:hover {
  color: black;
  text-decoration: none;
}

.footer-ul {
  text-align: center;
}

.material-icons {
  font-size: 2.15rem;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: black;
  text-decoration: none;
}

/*************************************/
/*             Dashboard             */
/*************************************/

.dashboard {
  background-color: white;
  position: fixed;
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
}